{%-liquid
    assign cart_type = settings.smi_cart_type | default: shop.metafields.smind.settings.value.cartType | default: 'page'
-%}
<a href="{{ routes.cart_url }}" class="{% if cart_type == 'drawer' %}smi-cart-button{% endif  %} smi-p-relative smi-d-block">
    {%- render 'smi-icons', icon: 'cart' -%}
    {%- if cart != empty -%}
    <div class="smi-cart-badges smi-text-xs smi-lsmi-03 smi-p-absolute smi-d-flex smi-align-items-center smi-justify-content-center">{{ cart.item_count }}</div>
    {%- endif -%}
</a>